<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=titulo%></title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1 class="mt-4 mb-3">Panadería</h1>
    <% if (titulo=="Ug0104"){ %>
    <p>Hola Jorge</p>
    <% } else { %>
    <p>Hola, ¿Qué tal?</p>
    <% } %>

    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">PRECIO</th>
          <th scope="col">DETALLE</th>
        </tr>
      </thead>
      <tbody>
        <% productos.forEach((producto) => { %>
        <tr>
          <td scope="row"><%= producto.id %></td>
          <td scope="row"><%= producto.nombre %></td>
          <td scope="row"><%= producto.precio %></td>
          <td>
            <a href="det_producto/<%= producto.slug %>"><%= producto.slug %></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <form action="/crear_producto" method="get">
      <button type="submit" class="btn btn-primary">Crear Producto</button>
    </form>
  </div>
</body>

</html>